<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<body>
<div>
    <h3>u1</h3>
    <p>Hello {{ .u1.Name }}</p>
    <p>性别： {{ .u1.Gender }}</p>
    <p>年龄： {{ .u1.Age }}</p>
</div>

<div>
    <h3>m1</h3>
    <p>Hello {{ .m1.name }}</p>
    <p>性别： {{ .m1.gender }}</p>
    <p>年龄： {{ .m1.age }}</p>
</div>
</body>
</html>